<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Eunu Board</title>
</head>

<body class="container-fluid">
<h1>Post</h1>
<form th:action="@{/post-describe}" method="post" th:object="${post}">
  <p class="d-grid gap-2 mb-2 d-md-flex justify-content-md-end">
    <a th:href="@{/post-delete/(postId=*{postId})}" class="btn btn-danger me-md-1" type="button">삭제</a>
    <a th:href="@{/post-new}" class="btn btn-success me-md-1" type="button">새 글쓰기</a>
    <a th:href="@{/mainboard}" class="btn btn-info me-md-2" type="button">목록으로</a>
  </p>

  <div class="card mb-2">
    <div class="card-header text-center" th:text="*{title}"></div>
    <div class="card-body">
      <div class="row border mb-2 ">
          <div class="col">작성일자</div>
          <div class="col" th:text="*{createdAt}"></div>
          <div class="col">수정일자</div>
          <div class="col" th:text="*{updatedAt}"></div>
      </div>
      <div class="row border">
        <div class="col">조회수</div>
        <div class="col" th:text="*{hit + 1}"></div>
        <div class="col">작성자</div>
        <div class="col" th:text="*{userId}"></div>
      </div>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-body gap-2 mb-2" >
      <p class="card-text">
        <div th:text="*{content}"></div>
      </p>
    </div>
  </div>

</form>

</body>
</html>